<h1>All restaurants here!</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
  <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
</ul>

<button class="btn btn-light"><%= link_to "Add a restaurant", new_restaurant_path %></button>