<h1> Welcome to <em><%= @restaurant.name %></em> 👩🏽‍🍳 </h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>

<button class="btn btn-light"><%= link_to "Homepage", restaurants_path %></button>